---
export type Props = {
  title: string;
  description: string;
  variant?: "accent" | "primary";
};

const { title, description, variant } = Astro.props;
---

<section
  class:list={[
    "flex flex-col items-center justify-center gap-10 py-14 text-rose-950",
    { "bg-rose-100": variant === "accent" },
  ]}
>
  <div
    class="flex w-full max-w-screen-lg flex-col items-center px-10 text-center"
  >
    <h1 class="text-3xl uppercase">{title}</h1>
    <p class="text-lg">{description}</p>
  </div>
  <div class="grid w-full max-w-screen-lg grid-cols-2 gap-x-5 gap-y-8 px-6">
    <!-- TODO: add md:grid-cols-3 -->
    <article>
      <button
        class="w-full bg-rose-950 px-10 py-4 text-lg uppercase text-white"
      >
        Добави
      </button>
    </article>
    <article>
      <button
        class="w-full bg-rose-950 px-10 py-4 text-lg uppercase text-white"
      >
        Добави
      </button>
    </article>
    <!-- <article>
            <button
              class="w-full bg-rose-950 text-white py-4 px-10 uppercase text-lg"
            >
              Добави
            </button>
          </article> -->
  </div>
</section>
