---
import Button from "../ui/Button.astro";
---

<section
  class="flex min-h-[70vh] items-center justify-center bg-[url(https://placehold.co/300x100)] bg-cover bg-center px-10 py-20"
>
  <div
    class="flex w-full max-w-5xl flex-col items-center justify-center gap-10 md:flex-row"
  >
    <div
      class="flex w-full max-w-screen-lg flex-col items-center gap-3 text-center"
    >
      <span class="text-3xl font-bold text-rose-600 underline">New!</span>
      <h1 class="text-2xl uppercase text-rose-950">
        <strong>Aura</strong>: Първият блестящ спрей с пептиди
      </h1>
      <Button>Купи сега</Button>
    </div>
    <div class="w-full"></div>
  </div>
</section>
