---
import NewsletterForm from "./NewsletterForm.astro";
---

<section class="dark bg-rose-950 p-7 text-white md:p-12">
  <div class="max-2 mx-auto w-full max-w-screen-lg">
    <NewsletterForm />
  </div>
</section>
