<section class="p-7 text-rose-950 lg:py-12">
  <div class="mx-auto w-full max-w-screen-lg">
    <h1 class="text-3xl font-light uppercase md:text-4xl">
      Потребителски отзиви
    </h1>
    <p class="font-light">18 369 мнения, от които 2 299 от български клиенти</p>
  </div>
</section>
