<section
  class="grid grid-cols-2 place-items-center gap-1 bg-sky-500 px-10 py-2 sm:flex sm:flex-wrap sm:justify-center sm:gap-3"
>
  <img
    class="sm:max-w-36 sm:border-r sm:pe-3"
    src="https://placehold.co/300x109"
    alt="SOS Детски селища България"
  />
  <img
    class="sm:max-w-36"
    src="https://placehold.co/300x118"
    alt="Златен партньор 2023"
  />
  <p class="col-span-2">
    COCOSOLIS дарява по 1лв. от всеки закупен продукт на SOS детски селища.
  </p>
</section>
